- id: '1599950566225'
  alias: Reminder to close the Cellar Window at Night
  description: Send one or more remindersDepending on who is in the house to close
    the basement window in the evening
  trigger:
  - at: '23:30'
    platform: time
  condition:
  - condition: state
    entity_id: binary_sensor.basement_window
    state: 'on'
  action:
  - data:
      disable_notification: false
      disable_web_page_preview: false
      message: please close basement window as it is late and way past its bedtime
      parse_mode: markdown
      timeout: 1000
      title: Basement Window Reminder
    service: telegram_bot.send_message
  mode: single
- id: '1600525359188'
  alias: IT'S ALIVE!
  description: Send notification when Home Assistant starts up
  trigger:
  - platform: homeassistant
    event: start
  condition: []
  action:
  - service: telegram_bot.send_location
    data:
      latitude: '{{ states.person.stuart.attributes.latitude }}'
      longitude: '{{ states.person.stuart.attributes.longitude }}'
      disable_notification: false
      timeout: 1000
  - service: telegram_bot.send_message
    data:
      message: Home assistant has come to life
  mode: single
- id: '1600594353689'
  alias: Sunrise in the House
  description: Simulate sunrise everywhere in the house.
  trigger:
  - platform: time
    at: 06:00
  condition: []
  action:
  - service: light.turn_on
    data:
      entity_id:
      - light.twokit
      - light.basement
      - light.bedroom
      - light.office
      - light.onekit
      - light.sofa
      - light.threekit
      - light.treadmill
      transition: 3610
      kelvin: 54000
      brightness_pct: 100
  mode: single
- id: '1600594791855'
  alias: Sunrise in the Bedroom
  description: Simulate sunrise In my bedroom acting as a silent Dawn Clock.
  trigger:
  - platform: time
    at: 06:55
  condition: []
  action:
  - service: light.turn_on
    data:
      entity_id:
      - light.bedroom
      transition: 300
      kelvin: 54000
      brightness_pct: 100
  mode: single
- id: '1601105342840'
  alias: Z-Wave Ready
  description: Send notification when the Z-Wave network is ready for use.
  trigger:
  - platform: event
    event_type: zwave.network_ready
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave network is ready
  mode: single
- id: '1601105699456'
  alias: Z-Wave Network Complete
  description: Send notification when the Z-Wave network is Complete.
  trigger:
  - platform: event
    event_type: zwave.network_complete
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave network is Complete
  - service: lifx.effect_pulse
    data:
      mode: blink
      brightness: 255
      color_name: green
      cycles: 2
      power_on: false
    entity_id: light.bedroom
  mode: single
- id: '1601105763293'
  alias: Z-Wave Network Complete some Dead
  description: Send notification when the Z-Wave network is Complete but with some
    dad knows he didn't make it
  trigger:
  - platform: event
    event_type: zwave.network_complete
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave network is Complete
  - service: lifx.effect_pulse
    data:
      mode: blink
      brightness: 255
      color_name: green
      cycles: 4
      power_on: false
    entity_id: light.bedroom
  mode: single
- id: '1601159450813'
  alias: Sunset in Bedroom
  description: From user selected lighting, begin to simulate lighting conditions
    at sunset help with sleep hygiene
  trigger:
  - platform: time
    at: 04:38
  condition: []
  action:
  - service: lifx.set_state
    data:
      color_name: red
      brightness_pct: 100
      transition: 300
      power: true
    entity_id: light.bedroom
  - service: persistent_notification.create
    data:
      message: By the power of Grey Skull, sunset declared.
      title: Sunset
      notification_id: persistent_sunset
  mode: single
