- id: '1599950566225'
  alias: Reminder to Close the Basement Window at Night
  description: 'Reminders to close the basement window if it is still open late in
    the evening. '
  trigger:
  - at: '23:24'
    platform: time
  condition:
  - condition: state
    entity_id: binary_sensor.basement_window
    state: 'on'
  action:
  - data:
      message: Please close the Basement Window as it is late and way past its bedtime
      title: Basement Window Bedtime Reminder
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
    service: telegram_bot.send_message
  - service: tts.google_translate_say
    data:
      entity_id:
      - media_player.server_cupboard_speakers
      - media_player.mini_basement_dweller
      message: Please close the Basement Window as it is late and way past its bedtime
  - service: persistent_notification.create
    data:
      message: Please close the Basement Window as it is late and way past its bedtime
      title: Basement Window Bedtime Reminder
      notification_id: BasementWindowBedtime
  mode: single
  max: 10
- id: '1600525359188'
  alias: IT'S ALIVE!
  description: Send notification when Home Assistant starts up
  trigger:
  - platform: homeassistant
    event: start
  condition: []
  action:
  - service: telegram_bot.send_location
    data:
      latitude: '{{ states.person.stuart.attributes.latitude }}'
      longitude: '{{ states.person.stuart.attributes.longitude }}'
      target:
      - 731090912
      disable_notification: false
      timeout: 1000
  - service: telegram_bot.send_message
    data:
      message: Home assistant has come to life
      title: Home assistant is alive
      target:
      - 731090912
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
  mode: single
- id: '1600594791855'
  alias: Sunrise in the Bedroom
  description: Simulate sunrise In my bedroom acting as a silent Dawn Clock.
  trigger:
  - platform: time
    at: 06:50
  condition: []
  action:
  - service: light.turn_on
    data:
      entity_id: light.bedroom
      transition: 600
      kelvin: 5400
      white_value: 250
      brightness_pct: 100
    entity_id: light.bedroom
  - service: persistent_notification.create
    data:
      message: bedroom sunrise
  mode: single
- id: '1601159450813'
  alias: Sunset in Bedroom
  description: In the interests of having good sleep hygiene this automation will
    begin to simulate sunset in the bedroom every night at the same time.  It does
    this by slowly turning the bedroom light to a pure Red colour, thereby removing
    blue light from the environment.  It is blue light which can help the body produce
    cortisol.  Cortisol is a stress hormone can suppress atoning melatonin, with melatonin
    being the hormone helps asleep.  And stuff.
  trigger:
  - platform: time
    at: '23:45'
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: By the power of Grey Skull, I DECLARE SUNSET!!
      title: He-Man Declaration of Sunset
      target:
      - 731090912
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
  - service: light.turn_on
    data:
      entity_id: light.bedroom
      transition: 600
      color_name: red
      brightness_pct: 100
    entity_id: light.bedroom
  - service: persistent_notification.create
    data:
      message: By the power of Grey Skull, I DECLARE SUNSET
      title: He-Man Declaration of Sunset
      notification_id: persistent_sunset
  mode: single
- id: '1602052371260'
  alias: Sunrise in da House
  description: Automation to simulate Sunrise in every room except the bedroom.
  trigger:
  - platform: time
    at: 06:50
  condition: []
  action:
  - service: light.turn_on
    data:
      entity_id:
      - light.basement
      - light.office
      - light.treadmill
      - light.sofa
      - light.onekit
      - light.threekit
      - light.twokit
      transition: 900
      kelvin: 5400
      white_value: 250
      brightness_pct: 100
  - service: persistent_notification.create
    data:
      message: Rest of the House Sunrise
  mode: single
- id: '1602537280292'
  alias: Z-Wave Network Beginning Start-Up
  description: Send notification when the Z-Wave network begins its start-up sequence.
  trigger:
  - platform: event
    event_type: zwave.network_start
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave network is Beginning startup
  - service: persistent_notification.create
    data:
      message: Home assistant has Begun Z-Wave start-up process
      title: Z-Wave is Starting
      notification_id: ZWave is Starting
  mode: single
- id: '1602615694012'
  alias: Z-Wave Network Has Stopped
  description: Send notification when the Z-Wave network Stops running
  trigger:
  - platform: event
    event_type: zwave.network_stop
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave network Has stopped
  - service: persistent_notification.create
    data:
      message: Z-Wave Network has stopped
      title: Z-Wave has stopped
      notification_id: ZWave has Stopped
  mode: single
- id: '1602615770606'
  alias: Z-Wave Network is Ready for Use
  description: Send notification when the Z-Wave network  is ready
  trigger:
  - platform: event
    event_type: zwave.network_ready
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave Network is Ready
      title: Z-Wave Ready
      target:
      - 731090912
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
  - service: persistent_notification.create
    data:
      message: Z-Wave Network is Ready
      title: Z-Wave Network is Ready
      notification_id: Z-Wave Network is Ready
  mode: single
- id: '1602615938061'
  alias: Z-Wave Network is Completely Ready With some Dead Nodes
  description: Send notification when the Z-Wave network  completely ready with a
    few dead nodes
  trigger:
  - platform: event
    event_type: zwave.network_complete_some_dead
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave Network Completely Ready With A Few Dead Nodes
  - service: persistent_notification.create
    data:
      message: Z-Wave Network Completely Ready With A Few Dead Nodes
      title: Z-Wave Network Completely Ready With A Few Dead Nodes
      notification_id: Z-Wave Network Completely Ready With A Few Dead Nodes
  mode: single
- id: '1602631321182'
  alias: Z-Wave Network is Complete
  description: Send notification when the Z-Wave network  is Considered Complete
  trigger:
  - platform: event
    event_type: zwave.network_complete
    event_data: {}
  condition: []
  action:
  - service: telegram_bot.send_message
    data:
      message: Z-Wave network  is Considered Complete
  - service: persistent_notification.create
    data:
      message: Z-Wave network is...
      title: Z-Wave network  is Considered Complete
      notification_id: Z-Wave network  is Considered Complete
  mode: single
- id: '1603176384593'
  alias: Torrent Has Started Downloading Transmission Notification
  description: Receive notification when your completely legal "Linux ISO" start downloading
    in Transmission
  trigger:
  - platform: event
    event_type: transmission_started_torrent
    event_data: {}
  condition: []
  action:
  - service: persistent_notification.create
    data:
      title: A Torrent Has Started Downloading!
      message: The file {{trigger.event.data.name}} has started to download
      notification_id: transmissionStarted
  - service: telegram_bot.send_message
    data:
      title: A Torrent Has Started Downloading!
      message: The file {{trigger.event.data.name}} has started to download
  mode: single
- id: '1603276142404'
  alias: Tag The Boss is scanned
  description: ''
  trigger:
  - platform: tag
    tag_id: 345d97e0-82f3-4560-8593-7f10655413c0
  condition: []
  action:
  - service: tts.cloud_say
    data:
      message: Katie has a big smell head!
      entity_id: media_player.office_mini
  - service: light.turn_off
    data: {}
    entity_id: light.bedroom
  mode: single
- id: '1605443041008'
  alias: Do Not Open The Basement Window In The Rain
  description: Various notifications Reminding people that opening the basement window
    when it is raining might not be a good idea.
  trigger:
  - platform: state
    entity_id: binary_sensor.basement_window
    from: 'off'
    to: 'on'
    for: 00:00:05
  condition:
  - condition: or
    conditions:
    - condition: state
      entity_id: weather.accuweather_todmorden
      state: rainy
    - condition: state
      entity_id: weather.met_office_todmorden
      state: rainy
    - condition: state
      entity_id: weather.meteorologisk_institutt
      state: rainy
    - condition: state
      entity_id: weather.openweathermap
      state: rainy
  action:
  - service: persistent_notification.create
    data:
      message: Opening the basement window when it is raining outside is not a good
        idea, please close the basement window.  Thank you.
      title: Close Basement Window in the Rain
      notification_id: CloseBasementWindowintheRain
  - service: tts.google_translate_say
    data:
      entity_id:
      - media_player.server_cupboard_speakers
      - media_player.mini_basement_dweller
      message: Opening the basement window when it is raining outside is not a good
        idea, please close the basement window.  Thank you.
  - service: tts.google_translate_say
    data:
      message: Opening the basement window when it is raining outside is not a good
        idea, please close the basement window.  Thank you.
      title: Close Basement Window in the Rain
      target:
      - 731090912
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
  mode: single
- id: '1605453196147'
  alias: Increment Medication by One
  description: Increment the medication counter by one
  trigger:
  - platform: webhook
    webhook_id: medication_00
  condition: []
  action:
  - service: counter.increment
    data: {}
    entity_id: counter.medication
  mode: single
- id: OfficeDoorStillOpen10
  alias: Office Door Is Still Open 25 minutes
  description: Various notifications including audioDesigned to remind people to close
    the office door.
  trigger:
  - platform: state
    entity_id: sensor.office_door_state
    to: Open
    for: 0:25:00
  action:
  - service: tts.cloud_say
    data:
      entity_id:
      - media_player.mini_basement_dweller
      - media_player.server_cupboard
      message: Dude, Stuarts office door has been open for 25 minutes, please do him
        a solid and keep the door closed.
      options:
        gender: female
      language: en-US
  mode: single
- id: '1605618700132'
  alias: Reset Med
  description: ''
  trigger:
  - platform: time
    at: 00:00
  condition: []
  action:
  - service: counter.reset
    data: {}
    entity_id: counter.medication
  mode: single
- id: '1606069632673'
  alias: Torrent Has Finished Downloading Transmission Notification
  description: Receive notification when your completely legal "Linux ISO" has finished
    downloading in Transmission
  trigger:
  - platform: event
    event_type: transmission_downloaded_torrent
    event_data: {}
  condition: []
  action:
  - service: persistent_notification.create
    data:
      title: A Torrent Has Finished Downloading!
      message: The file {{trigger.event.data.name}} has started to download
      notification_id: transmissionStarted
  - service: telegram_bot.send_message
    data:
      title: A Torrent Has Finished Downloading!
      message: The file {{trigger.event.data.name}} has finished downloading
      target:
      - 731090912
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
  mode: single
- id: '1606069738921'
  alias: Torrent Has Been Removed from Transmission Notification
  description: Receive notification when your completely legal "Linux ISO" has being
    removed from Transmission
  trigger:
  - platform: event
    event_type: transmission_removed_torrent
    event_data: {}
  condition: []
  action:
  - service: persistent_notification.create
    data:
      title: A Torrent Has Been Removed!
      message: The Torrent file {{trigger.event.data.name}} has been removed
      notification_id: transmissionStarted
  - service: telegram_bot.send_message
    data:
      title: A Torrent Has Been Removed!
      message: The Torrent file {{trigger.event.data.name}} has been removed
      target:
      - 731090912
      parse_mode: markdown
      disable_notification: false
      disable_web_page_preview: false
      timeout: 1000
  mode: single
- id: '1606230007749'
  alias: Tag The Boss is scanned
  description: ''
  trigger:
  - platform: tag
    tag_id: 345d97e0-82f3-4560-8593-7f10655413c0
  condition: []
  action:
  - service: tts.cloud_say
    data:
      entity_id: media_player.bedroom_display
      message: Oi, put that back
  mode: single
- id: '1606230011519'
  alias: Tag The Boss is scanned
  description: ''
  trigger:
  - platform: tag
    tag_id: 345d97e0-82f3-4560-8593-7f10655413c0
  condition: []
  action:
  - service: tts.cloud_say
    data:
      entity_id: media_player.bedroom_display
      message: Oi, put that back
  mode: single
- id: '1606230921458'
  alias: Tag Blue is scanned
  description: ''
  trigger:
  - platform: tag
    tag_id: a703a460-ee5e-47a0-8d74-ce1ddb6e0295
  condition: []
  action:
  - service: tts.cloud_say
    data:
      entity: media_player.bedroom_displaymessagd hello world
  mode: single
- id: '1606230924595'
  alias: Tag Blue is scanned
  description: ''
  trigger:
  - platform: tag
    tag_id: a703a460-ee5e-47a0-8d74-ce1ddb6e0295
  condition: []
  action:
  - service: tts.cloud_say
    data:
      entity: media_player.bedroom_displaymessagd hello world
  mode: single
- id: '1606231663150'
  alias: Tag Blue is scanned
  description: ''
  trigger:
  - platform: tag
    tag_id: a703a460-ee5e-47a0-8d74-ce1ddb6e0295
  condition: []
  action:
  - service: tts.cloud_say
    data:
      entity_id: media_player.server_cupboard
      message: Excuse me, don't you think you should probably put that back!
  mode: single
- id: '1606484848947'
  alias: Office Door Is Still Open 10 minutes
  description: Various notifications including audioDesigned to remind people to close
    the office door.
  trigger:
  - platform: state
    entity_id: sensor.office_door_state
    to: Open
    for: 0:10:00
  condition: []
  action:
  - service: tts.cloud_say
    data:
      entity_id:
      - media_player.mini_basement_dweller
      - media_player.server_cupboard
      message: Dude, Stuarts office door has been open for 10 minutes, please do him
        a solid and keep the door closed.
      options:
        gender: female
      language: en-US
  mode: single
