homeassistant:
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml
  customize_domain: !include customize_domain.yaml
  packages: !include_dir_named packages
  whitelist_external_dirs:
    - !secret homeassistant_whitelist_external_dirs_00
    - !secret homeassistant_whitelist_external_dirs_01
    - !secret homeassistant_whitelist_external_dirs_02

## Home Assistant API: The api integration exposes a RESTful API and allows interaction with a Home Assistant instance that is running headless. This integration depends on the http integration. https://www.home-assistant.io/integrations/api/ ##
api:

## Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Hass can automatically discover zeroconf/mDNS & UPnP devices on your network for you.
discovery:
  ignore:
    - apple_tv
    - homekit

# Integration with Mobile Application
#mobile_app:

# 
ios:

## Updater Preference
updater:
  reporting: !secret updater_reporting
  include_used_components: !secret updater_include_used_components

# Add map information
#map:
## Configuration: The config integration is designed to display panels in the frontend to configure and manage parts of Home Assistant. https://www.home-assistant.io/integrations/config/ ##
config:

#cloud:

## The google_translate text-to-speech platform uses the unofficial Google Translate Text-to-Speech engine to read a text with natural sounding voices. https://www.home-assistant.io/integrations/google_translate/ ##

tts:
  - platform: google_translate

## If your configuration.yaml file is getting out of hand because it is too large (ahem), you should ***REMOVED*** consider splitting your configuration into smaller chunks.  https://home-assistant.io/docs/configuration/splitting_configuration/ ##
## Files containing information you would like included
automation: !include automations.yaml
#cloud: !include cloud.yaml
#group: !include groups.yaml
light: !include light.yaml
scene: !include scenes.yaml
script: !include scripts.yaml
