homeassistant:
  latitude: !secret latitude_home
  longitude: !secret longitude_home
  elevation: !secret elevation_home
  unit_system: !secret unit_system
  time_zone: !secret time_zone
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml
  customize_domain: !include customize_domain.yaml
  packages: !include_dir_named packages
  whitelist_external_dirs:
    - !secret homeassistant_whitelist_external_dirs

# IOS Integration
ios:

# YAML Configuration Mode for Lovelace Frontend
# lovelace:
#   mode: yaml

# Homekit Example for Z-Wave
homekit:
  auto_start: !secret homekit_auto_start

# Configure a default setup of Home Assistant (cloud, config, frontend, history, logbook, map, mobile_app, person, script, ssdp, sun, system_health, updater, zeroconf) 
default_config:

# Updater
updater:
  reporting: !secret updater_reporting
  include_used_components: !secret updater_include_used_components

# Includes Section
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
light: !include light.yaml
zone: !include zone.yaml
switch: !include switch.yaml
